.container{
    display: flex;
    margin-top: 42px;
    margin-left: 9.5vw;
    margin-right: 9.5vw;
}
.fiche_creat{
    width: 100%;
    background-color: #092E2B;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.creat_php{
    margin-left: 11.44%;
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    padding: 0;
    margin-top: 42px;
    margin-bottom: 0;
}
.texte1{
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    padding: 0;
    margin-top: 42px;
    margin-bottom: 0;
    margin-left: 11.7%;
}