h2,
.h2 {
    font-family: 'Montserrat', sans-serif;;
    color: #72857F;
    text-align: center;
} 

p,
.p {
    font-family: 'Montserrat', sans-serif;
    color: #DFFFF5;
}


.FooterWrapper {
    background-color: black;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    padding-bottom: 15px;
}

.g {
    float:left;
    width:50%;
    background-color: black;
    grid-column: 2 / 12;
    grid-row: 1;
}


.d {
    float:left;
    width:50%;
    background-color: black;
    grid-column: 8 / 12;
    grid-row: 1;
}

.checkboxemail {
    font-family: 'Montserrat', sans-serif;
    color: #DFFFF5; 
}

label {
    font-family: 'Montserrat', sans-serif;
    color: #DFFFF5; 
}

button {
    background-color: black;
    border-color: #DFFFF5;
    border-style:solid;
    color: #DFFFF5;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border-radius: 30px;
}

button:hover {
    text-decoration: underline;
    border-color: #72857F;
}

.buttonMentionsleg {
    grid-column: 4 / 12;
    grid-row: 2;
}

.buttonContact {
    grid-column: 9 / 12;
    grid-row: 2;
}

input[type=button] {
    background-color: black;
    color: #DFFFF5;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

input[type=button]:hover {
    text-decoration: underline;
    border-color: #72857F;
}

