.container{
    display: flex;
    margin-top: 42px;
    margin-left: 9.5vw;
    margin-right: 9.5vw;
}
.tableau_global{
    width: 100%;
    background-color: #092E2B;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.creat_php{
    margin-left: 11.44%;
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    padding: 0;
    margin-top: 42px;
    margin-bottom: 0;
}
.texte1{
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 17px;
    padding: 0;
    margin-top: 42px;
    margin-bottom: 0;
    margin-left: 11.7%;
}

.en-tete
{
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    width: 100%;
    
}

.tableau_langues
{
    margin-left: 11.7%;
    margin-right: 11.7%;
    margin-top: 42px;
    margin-bottom: 30px;
    border-collapse: collapse;
    width: 75%;

}

.ligne_1, .ligne_2, .ligne_3, .ligne_4
{
    border-color: #F8F8F8;
    border: solid 1px;
    border-radius: 20px;
   
}

td
{
    border: solid 1px;
    border-color: #F8F8F8;
    color: #72857F;
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 15px;
    text-align: left;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

button.edit{
    margin-bottom: 0;
    color:#F8F8F8;
    border: solid;
    border-width: 1px;
    background-color: #092E2B;
    border-color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    border-radius: 30px;
    width: auto;
    margin-left: auto;
    padding: 0px 5px 0px 5px;
    height: 20px;
    transition: 0.4s;
    cursor: pointer;
}
button.edit:hover{
    margin-bottom: 0;
    border-width: 1px;
    color:#001003;
    background-color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    border-radius: 30px;
    width: auto;
    margin-left: auto;
    padding: 0px 5px 0px 5px;
    height: 20px;
}


button.delete{
    margin-bottom: 0;
    color:#F8F8F8;
    border: solid;
    border-width: 1px;
    background-color: #B93636;
    border-color: #B93636;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    border-radius: 30px;
    width: auto;
    margin-left: auto;
    padding: 0px 5px 0px 5px;
    height: 20px;
    transition: 0.4s;
    cursor: pointer;
}
button.delete:hover{
    margin-bottom: 0;
    border-width: 1px;
    color:#F8F8F8;
    background-color: #092E2B;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    border-radius: 30px;
    width: auto;
    margin-left: auto;
    padding: 0px 5px 0px 5px;
    height: 20px;
}
*, ::after, ::before {
    box-sizing: content-box;
    
}
*, ::after, ::before {
    box-sizing: content-box;
}



@media (max-width: 600px)
{
    .table-responsive-lg 
    {
    display: block;
    overflow-x: auto;
    }
    *, ::after, ::before {
        box-sizing: initial;
        
    }
    *, ::after, ::before {
        box-sizing: initial;
    }
}