html, body
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #000703;
}


header
{
    background-image: url(/Applications/MAMP/htdocs/Blogart/BlogArt/FRONT/images/illustration_principale.jpg);
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1080px;
    background-position:center center;
    

}

.decouvrir
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 115%;
    left: 45%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 15pt;
    color: #72857F;

}

.arrow
{

    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 125%;
    left: 51%;

}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #DFFFF5;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #B93636;
    border-bottom: 2px solid #B93636;
}