html, body
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #000703;
}

#container
{
    max-width: 83%;
    margin: 0 auto;
}


header
{
    background-image: url(/Applications/MAMP/htdocs/Blogart/BlogArt/FRONT/images/illustration_principale.jpg);
    background-attachment: scroll;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1080px;
    background-position:center center;
    

}
.part1_navbarre
{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 6;
    justify-content: space-between;
    justify-content: flex-start;

}

.part2_navbarre
{
    display: flex;
    justify-content: space-between;
    grid-column-start: 8;
    grid-column-end: 12;
}
.decouvrir
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 115%;
    left: 46%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    color: #72857F;
    font-weight: 200;
}

.arrow
{

    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 123%;
    left: 49.5%;
    width: 20px;
    height: 20px;

}
.images_dernieressorties
{
    width: 100%;
    height: 80%;
    margin: 0;
    border-radius: 15px;

}
.image_homepage_part1
{
    width: 55%;
    height: 100%;
    border-radius: 15px;
}

.images_aside
{
    width: 15%;
    height: 10%;
}
#part1
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 7% 13% 34% 23% 23%;
    grid-column-gap: 10px;
    height: 750px;
    grid-row-gap: 10px;
}

#part2
{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 5% 5% 26.67% 26.67% 36.67%;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    height: 800px;
    position: relative;
    top: 90px;
}
aside
{
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 10;
    grid-column-end: 13;
    background-color: #092E2B;
    border-radius: 20px;
    padding: 5%;

}
.titre_homepage1
{
    grid-row-start: 2;
    grid-row-end: 3; 
    grid-column-start: 1;
    grid-column-end: 5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 16pt;
    color: #72857F;
    margin: 0;
    margin-top: 5%;
}
.dernieres_sorties
{
    grid-row-start: 3;
    grid-row-end: 4; 
    grid-column-start: 1;
    grid-column-end: 10;
    background-image: url(../images/photo_dernieres_sorties.jpg);
    width: 95%;
    height: 250px;
    background-repeat: no-repeat;
    border-radius: 15px;

}
.article_homepage_1
{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: #092E2B;
    border-radius: 20px;
}

.article_homepage_2
{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: #092E2B;
    border-radius: 20px;
}
nav ul
{
    list-style-type: none;
    display: flex;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13;
}

nav li
{
    margin-right: 15px;
}

.titre2_aside
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #DFFFF5;
}
nav a
{
    color: #DFFFF5;
    padding-bottom: 3px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 10pt;
}
nav
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13;
}
nav .navigation
{
    color: #B93636;
    border-bottom: 1px solid #B93636;
    transition: 0.4s;
}

.titre_terrifiant
{
    grid-column-start: 1;
    grid-column-end: auto;
    grid-row-start: 2;
    grid-row-end: auto;
}

.souligne_accueil, .souligne_rediger, .souligne_contact, .souligne_connexion
{
background-color: #B93636;
height: 3px;
width: 0;
transition: 0.4s;
margin-left: auto;
margin-right: auto;
}

.a_accueil:hover .souligne_accueil, .a_rediger:hover .souligne_rediger, .a_contact:hover .souligne_contact, .a_connexion:hover .souligne_connexion
{
   width:17px;
}
.a_accueil:hover a, .a_rediger:hover a, .a_contact:hover a, .a_connexion:hover a
{
color: #B93636;
}


.titre_article
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color: #72857F;
    width: 40%;
    margin: 0;
    position: relative;
    text-align: left;
    left: 57%; 
    bottom: 85%;
}
.trait_article_homepage_2
{
    width: 60px;
    height: 4px;
    background-color: #B93636;
    position: relative;
    left: 55%;
    bottom: 110%;
}

.trait_article_homepage_1
{
    width: 60px;
    height: 4px;
    background-color: #B93636;
    position: relative;
    left: 55%;
    bottom: 110%;
}
.texte_article
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 9.5pt;
    color: #DFFFF5;
    position: relative;
    text-align: left;
    left: 57%;
    bottom: 85%;
    width : 35%;
    margin: 0;
    margin-top: 3%;
}

.titre_homepage2
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    color: #72857F;
}



.texte_vignette1
{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #72857F;
    width: 53%;
    margin: 0;
    position: relative;
    left: 14%;
    margin-block-start: 0.5px; 
    margin-block-end: 0.5px; 
    writing-mode: horizontal-tb;
    top: 3px;
}

.texte_vignette2
{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #72857F;
    width: 53%;
    margin: 0;
    position: relative;
    left: 14%;
    margin-block-start: 0.5px; 
    margin-block-end: 0.5px; 
    writing-mode: horizontal-tb;
    top: 3px;
}

.texte_vignette3
{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #72857F;
    width: 53%;
    margin: 0;
    position: relative;
    left: 14%;
    margin-block-start: 0.5px; 
    margin-block-end: 0.5px; 
    writing-mode: horizontal-tb;
    top: 3px;
}

.texte_vignette4
{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #72857F;
    width: 53%;
    margin: 0;
    position: relative;
    left: 14%;
    margin-block-start: 0.5px; 
    margin-block-end: 0.5px; 
    writing-mode: horizontal-tb;
    top: 3px;
}

.texte_vignette5
{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #72857F;
    width: 53%;
    margin: 0;
    position: relative;
    left: 14%;
    margin-block-start: 0.5px; 
    margin-block-end: 0.5px; 
    writing-mode: horizontal-tb;
    top: 3px;
}

.trait_vignette1
{
    width: 10%;
    height: 2px;
    background-color: #A43F3E;
    position: relative;
    top: 10%;
}

.trait_vignette2
{
    width: 10%;
    height: 2px;
    background-color: #A43F3E;
    position: relative;
    top: 10%;
}

.trait_vignette3
{
    width: 10%;
    height: 2px;
    background-color: #A43F3E;
    position: relative;
    top: 10%;
}

.trait_vignette4
{
    width: 10%;
    height: 2px;
    background-color: #A43F3E;
    position: relative;
    top: 10%;
}

.trait_vignette5
{
    width: 10%;
    height: 2px;
    background-color: #A43F3E;
    position: relative;
    top: 10%;
}


.image_vignette1
{
    width: 100%;
    height: 75%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.image_vignette2
{
    width: 100%;
    height: 75%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.image_vignette3
{
    width: 100%;
    height: 75%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.image_vignette4
{
    width: 100%;
    height: 75%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.image_vignette5
{
    width: 100%;
    height: 75%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.image_vignette6
{
    width: 100%;
    height: 75%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.vignette1
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #092E2B;
    border-radius: 15px;

}

.vignette2
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #092E2B;
    border-radius: 15px;

}

.vignette3
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #092E2B;
    border-radius: 15px;

}

.vignette4
{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #092E2B;
    border-radius: 15px;

}

.vignette5
{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #092E2B;
    border-radius: 15px;

}

.voirplus_vignette1
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 8pt;
    color: #72857F;
    background-color: #092E2B;
    border-radius: 20px;
    border-color: #72857F;
    text-align: left;
    position: relative;
    left: 21%;
    bottom: 6px;
}

.voirplus_vignette2
{
   
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 8pt;
    color: #72857F;
    background-color: #092E2B;
    border-radius: 20px;
    border-color: #72857F;
    text-align: left;
    position: relative;
    left: 21%;
    bottom: 6px;
    
}

.voirplus_vignette3
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 8pt;
    color: #72857F;
    background-color: #092E2B;
    border-radius: 20px;
    border-color: #72857F;
    text-align: left;
    position: relative;
    left: 21%;
    bottom: 6px;
}

.voirplus_vignette4
{
   
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 8pt;
    color: #72857F;
    background-color: #092E2B;
    border-radius: 20px;
    border-color: #72857F;
    text-align: left;
    position: relative;
    left: 21%;
    bottom: 6px;
}

.voirplus_vignette5
{

    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 8pt;
    color: #72857F;
    background-color: #092E2B;
    border-radius: 20px;
    border-color: #72857F;
    text-align: left;
    position: relative;
    left: 21%;
    bottom: 6px;
}

.menu_part2
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #72857F;

}

.all
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 12pt;
    color: #72857F;
    margin-right: 8%;
}

.les_plus_lus
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 12pt;
    color: #72857F;
    margin-right: 8%;
}

.les_mieux_notes
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 12pt;
    color: #72857F;
}
.titre_aside
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 12pt;
    color: #72857F;
}
.playlist
{
    display: flex;
    width: 90%;
    height: 30%;
    align-self: center;


}

.titre_derniere_sortie
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16pt;
    color: #181C1B;
    background-color:rgba(185, 54, 54, 0.75);
    width: 60%;
    margin: 0;
    position: relative;
    left: 5%;
    top: 62%

}
.sous_titre_ds
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color: #181C1B;
    background-color: rgba(185, 54, 54, 0.75);
    width: 37%;
    margin: 0;
    position: relative;
    left: 5%;
    top: 64%


}

.texte_article1
{
    position: relative;
    bottom: 100%;
    margin-top: 4.5%;

}
.texte_article2
{
    position: relative;
    bottom: 100%;
    margin-top: 4.5%;
}
.bouton_voirplus1
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #72857F;
    background-color: #092E2B;
    border-radius: 20px;
    border-color: #72857F;
    text-align: left;
    position: relative;
    left: 80%;
    margin-top: 6%;

}

.bouton_voirplus2
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #72857F;
    background-color: #092E2B;
    border-radius: 20px;
    border-color: #72857F;
    text-align: left;
    position: relative;
    left: 80%;
    margin-top: 6%;

}
.a_enregistrer
{
    border-radius: 20px;
    background-color: #B93636;
    margin-block-end: auto;
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 2px;
}

.rubrique_footer
{
    font-size: 1.3em;
    color: #DFFFF5;
    padding-bottom: 3px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 10pt;
}

.reseaux_sociauxt
{
    width: 30px;
    height: 30px;
}

.reseaux_sociauxi
{
    width: 30px;
    height: 30px;
}
.reseaux_sociauxm
{
    width: 30px;
    height: 30px;
}

.search
{
    width: 30%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titre_apropos
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 15pt;
    color: #72857F;
    margin-bottom: 1%;
}

.texte_apropos
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 8.5pt;
    width: 30%;
    line-height: 150%;
    text-align: left;
    color: #DFFFF5;
}
.a_propos
{
    display: flex;
    flex-direction: column;
}

.newsletter
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.remonte
{
    width: 40px;
    height: 40px;
}

.bouton_envoyer
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 10pt;
    color: #72857F;
    background-color: #000703;
    border-radius: 20px;
    border-color: #72857F;
    text-align: left;
    width: 5.5%;
}

footer
{
    position: relative;
    top: 90px;
}