html, body{
    background-color: #000601;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.icons{
    display: flex;
    margin-top: 42px;
    margin-bottom: 42px;
    width: 30%;
    margin-right: auto;
    margin-left: 11.44%;
    justify-content: space-between;
}
.icon{
    width: 40px;
    height: 40px;
}
.content{
    display: flex;
    margin-top: 42px;
    margin-left: 9.84vw;
    margin-right: 9.84vw;
}
.barlat{
    margin-left: 2.84%;
    width: 300px;
    background-color: #092E2B;
    border-radius: 20px;
    margin-bottom: auto;
}
.titrecont{
    margin-left: 11.44%;
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    padding: 0;
    margin-top: 42px;
    margin-bottom: 0;
}
li{
    list-style: none;
}
.IlluHead{
    height: 250px;
    background-image: url("../FRONT/images/Illustration_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}
.IlluHead1{
    height: 100vh;
    background-image: url("../FRONT/images/illustration_principale.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    display: flex;
    flex-direction: column;
}
.txtimgheader{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #DFFFF5;
    width: 100%;
    text-align: center;
    margin-top: 87vh;
}
@keyframes masuperanimation {
    0% {
        margin-top: 10%;
    }

    50% {
        margin-top: 20%;
    }

    100% {
        margin-top: 10%;
    }
}
@-webkit-keyframes masuperanimation {
    0% {
        margin-top: 10%;
    }

    50% {
        margin-top: 20%;
    }

    100% {
        margin-top: 10%;
    }
}
.contentarrow{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 13vh;
    
}
.downarrowheadac{
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 30px;
    animation: masuperanimation 2s linear alternate infinite;
    -webkit-animation: masuperanimation 2s linear alternate infinite;
}
.navbar{
    margin-left: 9.84vw;
    margin-right: 9.84vw;
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    align-items: center;
}
.navbar ul{
    display: flex;
    padding: 0;
    align-items: center;
}
.navbar ul li a{
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
}
.navbar ul li{
    margin-left: 80px;
}
.navbar ul li div{
    margin-left: auto;
    margin-right: auto;
}
.navbar ul .ac{
    margin-left: 0;
}
.navbar ul li a:hover{
    color:#B93636;
}
.divbtn{
    background-color: #B93636;
    padding: 8px 12px 8px 12px;
    border-radius: 45px;
    border: solid;
    border-width: 2px;
    border-radius: 45px;
    border-color: #B93636;
    font-size: 17px;
    transition: 0.3s ease-in-out;
}
.divbtn p{
    margin: 0;
}
.divbtn:hover{
    background-color: #000601;
    
}
.divbtn:hover p{
    color: #B93636;
}
.s_ac, .s_re, .s_co, .s_con{
    width: 00px;
    height: 2px;
    background-color: #B93636;
    transition: 0.3s ease-in-out;
}
.ac:hover .s_ac, .re:hover .s_re, .co:hover .s_co, .con:hover .s_con{
    width: 20px;
}
.menuburger{
    margin-left: 2.62%;
    width: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 35px;
    cursor: pointer;
    animation-duration: 0.4s ease-in-out;
}
.menuburgertop{
    background-color: #DFFFF5;
    height: 2px;
    width: 30px;
    margin-top: 7px;
    border-radius: 45px;
    transition: 0.4s ease-in-out;
    animation-duration: 0.4s ease-in-out;
}
.menuburgermid{
    background-color: #DFFFF5;
    height: 2px;
    width: 30px;
    border-radius: 45px;
    transition: 0.4s ease-in-out;
    animation-duration: 0.4s ease-in-out;
}
.menuburgerbot{
    background-color: #DFFFF5;
    height: 2px;
    width: 30px;
    margin-bottom: 7px;
    border-radius: 45px;
    transition: 0.4s ease-in-out;
}

.traitnav{
    display: none;
    background-color: #D84545;
    height: 2px;
    width: 30%;
    transition: 0.4s ease-in-out;
}
.newmenu{
    margin-left: 9.84vw;
    display: none;
    transition: 0.3s ease-in-out;
}
.newmenu li a{
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
}
.newmenu li div p{
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    margin: 0;;
}
.newmenu .li_si div{
    background-color: #B93636;
    padding: 8px 12px 8px 12px;
    border-radius: 45px;
    border: solid;
    border-width: 2px;
    border-radius: 45px;
    border-color: #B93636;
    transition: 0.3s ease-in-out;
    height: auto;
    width: auto;
    margin-left: 25px;
    cursor: pointer;
}
.newmenu .li_si div:hover{
    background-color: #000601;
    
}
.newmenu .li_si div:hover p{
    color: #B93636;
}
.newmenu ul li{
    display: flex;
    margin-top: 15px;
}
.newmenu ul li a{
    transition: 0.3s ease-in-out;
}
.newmenu ul li div{
    height: 2px;
    width: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    transition: 0.3s ease-in-out;
}

.li_ac:hover a, .li_re:hover a, .li_co:hover a, .li_con:hover a, .li_si:hover a{
    color: #B93636;
}
.li_ac:hover .tir_ac, .li_re:hover .tir_re, .li_co:hover .tir_co, .li_con:hover .tir_con, .li_si:hover .tir_si{
    background-color: #B93636;
}
@media (max-width: 1200px){
    #menunav{
        display: none;
    }
    .navbar ul{
        margin-right: 0;
        margin-left: auto;
    }
    .navbar ul li{
        margin-left: 35px;
    }
    .menuburger{
        display: flex;
    }
}
@media (max-width: 640px){
    .navbar ul{
        display: none;
    }
    .traitnav{
        display: block;
    }
}
.contfoot{
    margin-top: 42px;
    margin-bottom: 42px;
}
.part1foot{
    display: flex;
    margin-left: 9.84vw;
    margin-right: 9.84vw;
}
.divapp{
    width: 43.97%;
}
.divnewslt{
    width: 40.52%;
}
.divnewsltcontent{
    width: 48.56%;
    margin-right: 0;
    margin-left: auto;
}
.divhdp{
    width: 15.56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.remontereh{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.remonterehdiv{
    margin-right: 0;
    margin-left: auto;
    width: 70px;
    height: 70px;
    border: solid;
    border-radius: 50px;
    border-width: 2px;
    border-color: #6B7D77;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}
.part2foot ul{
    display: flex;
    justify-content: center;
}
.part2foot ul li{
    display: flex;
}
.footertitre{
    color: #72857F;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
}
.footerapp{
    color: #DFFFF5;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    margin-bottom: 0;
}
.rowformfooter{
    display: flex;
    margin-top: 5px;
    margin-left: 0;
}
#check{
    margin-top: auto;
    margin-bottom: auto;
}
#mailnews{
    background-color: #000601;
    border-bottom: solid;
    border-width: 2px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: #72857F;
    
    color: #72857F;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    width: 100%;
}
.formcontfooter{
    margin-top: 17px;
    margin-bottom: 42px;
}
.newscondi{
    margin:0;
    color: #DFFFF5;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    width: 100%;
}
@media (max-width: 1120px){
    .divhdp{
        display: none;
    }
    .divnewsltcontent{
        height: 100%;
        margin-left: auto;
        margin-right: 0;
        width: auto;
    }
    .divnewslt{
        width: 50%;
        margin-left: calc(9.84vw / 2);
    }
    .divapp{
        width: 50%;
        margin-right: calc(9.84vw / 2);
    }
    
}
@media (max-width: 640px){
    .divhdp{
        display: none;
    }
    .part1foot{
        display: flex;
        flex-direction: column;
    }
    .divnewsltcontent{
        height: 100%;
        margin-left: auto;
        margin-right: 0;
        width: auto;
    }
    .divnewslt{
        width: 100%;
        margin-left: auto;
    }
    .divapp{
        width: 100%;
        margin-right: auto;
    }
}
.part2foot ul li a{
    color: #DFFFF5;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}
.part2foot ul li:hover a{
    color: #B93636;
}
.nous{
    margin-left: 14px;
}
.part2foot ul li{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.part2foot ul{
    margin-top: 0;
    margin-bottom: 0;
}
.s_men,.s_nous{
    width: 0;
    height: 2px;
    background-color: #B93636;
    transition: 0.4s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}
.men:hover .s_men, .nous:hover .s_nous{
    width: 20px;
}
.btnabo{
    border: solid;
    border-radius: 45px;
    border-width: 2px;
    border-color: #72857F;
    background-color: #000601;
    padding: 7px;
    color: #72857F;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 17px;
    box-shadow:none;
    appearance:none;
    transform: translate(-100%);
    cursor: pointer;
}
.btnabo:hover{
    color: #000601;
    background-color: #72857F;
}
.contentbtn{
    padding-left: 100%;
}
/* ////////////////bar lat///////////////////: */

.search
{
	border-radius: 5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #72857F;
    border-radius: 20px;
    display: flex;
    height: 35px;
}
.divloupe{
    height: 35px;
    width: 15%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.louperech{
    height: 15px;
    width: 15px;
    margin-top: auto;
    margin-bottom: auto;
    fill: white;
}
.search-form
{
    color: #FFFFF2 ;
    width: 85%;
    height: 35px;
}
.search-form input{
    color: thistle;
    background-color: #72857F;
    height: 100%;
    border: 0;
    padding: 0;
    width: 100%;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFF2;
}
.search-form input::placeholder{
    color: thistle;
    background-color: #72857F;
    height: 100%;
    border: 0;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #092E2B;
}

.search input[type="text"]:focus
{
	outline: 0;
}
.reseaux-sociaux
{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    display: flex;
    margin-top: 17px;
    justify-content: space-around;

}

.trait_aside
{
    width: 30px;
    height: 2px;
    background-color: #B93636;
    margin-top: auto;
    margin-bottom: auto;
    
   
}
.div_titre_barlat{
    width: 90%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 17px;
    margin-bottom: 5px;
}
.reseaux_sociauxt
{
    width: 30px;
    height: 30px;
}

.reseaux_sociauxi
{
    width: 30px;
    height: 30px;
}
.reseaux_sociauxm
{
    width: 30px;
    height: 30px;
}
.images_aside
{
    width: 90%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    display: flex;
    flex-direction: column;
}
.titre2_aside
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #DFFFF5;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 10px;
}
aside
{
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #092E2B;
    border-radius: 20px;
    padding: 5%;

}
.playlist
{
    display: flex;
    width: 90%;
    height: 250px;
    position: relative;
    left: 13px;
    align-self: center;
    border-radius: 10px;
}

.titre_aside
{
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #72857F;
    margin-left: 5px;
}
.fichecontact{
    margin-bottom: auto;
}
.txtimgheader{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #DFFFF5;
    width: 100%;
    text-align: center;

}
.user{
    color:white;
}