.content{
    display: flex;
    margin-top: 42px;
    margin-left: 9.84vw;
    margin-right: 9.84vw;
}
.fichecontact{
    width: 73.87%;
    background-color: #092E2B;
    border-radius: 20px;
}
.monformlaire{
    width: 77.12%;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
}
.barlat{
    margin-left: 2.84%;
    width: 300px;
    background-color: #092E2B;
    border-radius: 20px;
}
.form-group span{
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 17px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.titrecont{
    margin-left: 11.44%;
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    padding: 0;
    margin-top: 42px;
    margin-bottom: 0;
}
.phrasecont{
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    padding: 0;
    margin-top: 42px;
    margin-bottom: 0;
}
.merci{
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    padding: 0;
    margin-top: 42px;
    margin-bottom: 0;
    margin-bottom: 15px;
}
.phrasecont2{
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    margin-top: 42px;
    margin-bottom: 0;
    margin-left: 11.44%;
    width: 42.45%;
}
.formcont{
    margin-left: 11.44%;
    width: 42.45%;
}
.form-group textarea,.form-group input,.form-group select{
    background-color: #092E2B;
    border: solid;
    border-color: #F8F8F8;
    border-radius: 9px;
    border-width: 2px;
    height: 40px;
    color: #72857F;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 17px;
    padding-left: 10px;
    resize: vertical;
}
.form-group textarea{
    height: 150px;
}
.list1{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list1 span{
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 5px;
}
.list2 span{
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 5px;
}
.list1 select{
    background-color: #092E2B;
    border: solid;
    border-color: #F8F8F8;
    border-radius: 9px;
    border-width: 2px;
}
.list2 select{
    background-color: #092E2B;
    border: solid;
    border-color: #F8F8F8;
    border-radius: 9px;
    border-width: 2px;
}
option{
    color: #72857F;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 17px;
}
.list2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}
.btnsaddsuppr{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnadd{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnadd button{
    color:#001003;
    border: solid;
    background-color: #F8F8F8;
    border-color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    border-radius: 45px;
    width: 100%;
    padding: 0px 12px 0px 12px;
    height: 27px;
    transition: 0.4s;
    cursor: pointer;
}
.btnadd button:hover{
    color:#F8F8F8;
    background-color: #001003;
}
.btnspr button{
    margin-top: 5px;
    color:#001003;
    border: solid;
    background-color: #F8F8F8;
    border-color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    border-radius: 45px;
    width: 100%;
    padding: 0px 12px 0px 12px;
    height: 27px;
    transition: 0.4s;
    cursor: pointer;
}
.btnspr button:hover{
    color:#F8F8F8;
    background-color: #001003;
}
.formsub button{
    color:#001003;
    border: solid;
    background-color: #F8F8F8;
    border-color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    border-radius: 45px;
    width: 100%;
    padding: 0px 12px 0px 12px;
    height: 42px;
    transition: 0.4s;
    cursor: pointer;
}
.formsub{
    margin-top: 17px;
}
.formsub button:hover{
    color:#F8F8F8;
    background-color: #001003;
}
.voirart button{
    color:#001003;
    border: solid;
    background-color: #F8F8F8;
    border-color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    border-radius: 45px;
    width: auto;
    margin-left: auto;
    margin-right: 0;
    padding: 0px 12px 0px 12px;
    height: 42px;
    transition: 0.4s;
    cursor: pointer;
}
.voirart button:hover{
    color:#F8F8F8;
    background-color: #001003;
}
.btnspr{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.selectmotcle{
    margin-left: 0;
    padding: 0;
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group label{
    padding: 0;
    margin-top: 42px;
    margin-bottom: 10px;
    color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
}
.form-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.form-row .form-group{
    display: flex;
    width: 45%;
}
.formcont button{
    margin-bottom: 0;
    color:#001003;
    border: solid;
    background-color: #F8F8F8;
    border-color: #F8F8F8;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    border-radius: 45px;
    width: auto;
    margin-left: auto;
    margin-top: 42px;
    padding: 0px 12px 0px 12px;
    height: 42px;
    transition: 0.4s;
    cursor: pointer;
}
.formcont button:hover{
    margin-bottom: 0;
    color:#F8F8F8;
    background-color: #092E2B;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
    border-radius: 45px;
    width: auto;
    margin-left: auto;
    margin-top: 42px;
    padding: 7px 12px 7px 12px;
    height: 42px;
}
.icons{
    display: flex;
    margin-top: 42px;
    margin-bottom: 42px;
    width: 30%;
    margin-right: auto;
    margin-left: 11.44%;
    justify-content: space-between;
}
.icon{
    width: 40px;
    height: 40px;
}
.newmenu ul .li_re a{
    color: #B93636;
}
.navbar ul .re a{
    color: #B93636;
}
.s_re{
    width:17px !important;
}
.tir_re{
    background-color: #B93636;
}
@media (max-width: 1500px){
    .formcont{
        margin-left: 11.44%;
        width: auto;
        margin-right: 11.44%;
    }
    .phrasecont2{
        width: auto;
    }
}
@media (max-width: 1080px){
    .barlat{
        display: none;
    }
    .fichecontact{
        width: 100%;
    }
    .formcont{
        margin-left: 11.44%;
        margin-right: 11.44%;
        width: 77.12%;
    }
    .phrasecont2{
        width: 77.12%;
    }
    .icons{
        width: 40%;
    }
}

@media (max-width: 640px){
    .form-row{
        display: flex;
        flex-direction: column;
    }
    .form-row .form-group{
        width: 100%;
    }
    .icons{
        width: 50%;
    }
    .navbar ul{
        display: none;
    }
    .traitnav{
        display: block;
    }
}
.importillu input{
    background-color: #092E2B !important;
    border: 0  !important;
    border-color: #F8F8F8  !important;
    border-radius: 0px  !important;
    border-width: 0px  !important;
    height: 40px  !important;
    color: #72857F  !important;
    font-family: 'Montserrat'  !important;
    font-weight: 400  !important;
    font-size: 17px  !important;
    padding-left: 0  !important;
    resize: vertical  !important;
}